#lightbox{

  position: fixed;
  z-index: 87;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,1);
  display: none;
  top: 0;

}

#lightbox.active{

    display: flex;
    justify-content: center;
    align-items: center;

}

#lightbox img{

  max-width: 85%;
  max-height: 85%;
  object-fit: contain;

}

#closeBox{

  z-index: 101;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 1vw;
  right: 1vw;
  background-color: rgba(57, 59, 57,0.8);
  border-radius: 5em;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

#closeBox:hover{

  transform: scale(1.1);

}

.noScroll {margin: 0; height: 100%; overflow: hidden}

@media screen and (max-width: 472px){

  #closeBox{

    width: 40px;
    height: 40px;
    top: 5vw;
    right: 5vw;

  }

}
