#lightbox{

  position: fixed;
  z-index: 87;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,1);
  display: none;
  top: 0;
  text-align: center;

}

#lightbox.active{

    display: flex;
    justify-content: center;
    align-items: center;

}

#lightbox img:last-of-type{
  padding-top: 3%;
  max-width: 95%;
  max-height: 90%;
  object-fit: contain;

}

#closeBox{

  z-index: 101;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 1vw;
  right: 1vw;
  background-color: rgba(57, 59, 57,0.8);
  border-radius: 5em;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.noScroll {margin: 0; height: 100%; overflow: hidden}

@media screen and (max-width: 472px){

  #closeBox{

    width: 40px;
    height: 40px;
    top: 5vw;
    right: 5vw;

  }

}

@media (hover: hover) and (pointer: fine){

  #closeBox:hover{

    transform: scale(1.1);

  }

}
