/*

Forms and button css for login page

*/

.login{
  height: 100vh;
  width: 100vw;
  /*background-color: blue;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login h1{

  font-family: freight-neo-pro,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: calc( (1.44em + 0.46125 * ( ( 100vw - 37.5em) / 18.75 ))/0.6);
  color: #ffffff;
  text-align: center;

}

.login h3{

  padding: 0em 0em 0.8em 0em;
  font-family: freight-neo-pro,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: calc( (1.44em + 0.46125 * ( ( 100vw - 37.5em) / 18.75 ))/1.5);
  color: #ad3821;
  text-align: center;

}

.btn{

  outline: 0;
  background-color: rgba(255, 255, 255);
  border: none;
  color: black;
  padding: 10px 20px;
  font-family: freight-neo-pro,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 8px rgb(107, 107, 107);
  border-radius: 2em;

}

.btn:active{

  background-color: rgb(20, 115, 18);
  box-shadow: 0 2px rgb(14, 82, 12);
  transform: translateY(4px);

}

#ver{

  font-family: freight-neo-pro,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: calc( (1.44em + 0.46125 * ( ( 100vw - 37.5em) / 18.75 ))/1.5);
  color: #38ba11;
  text-align: center;

}

@media screen and (min-width: 1440px){

  .login h1{

    font-size: 40px;

  }

  .login h3{

    font-size: 25px;

  }

}

@media screen and (max-width: 472px){

  .btn{

    padding: 8px 14px;

    font-size: 12px;

    box-shadow: 0 4px rgb(107, 107, 107);

  }

}

@media (hover:hover) and (pointer: fine){

  .btn:hover{

    opacity: 0.8;

  }

}
