/*

Forms and button css for upload page

*/

.upload{

  height: 100vh;
  width: 100vw;
  /*background-color: blue;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.upload :is(h1, h2, h3){

  padding: 0em 0em 0.8em 0em;
  font-family: freight-neo-pro,sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;

}

.upload h1{

  font-size: calc( (1.44em + 0.46125 * ( ( 100vw - 37.5em) / 18.75 ))/1);
  color: #ffffff;

}

.upload h2{

  font-size: calc( (1.44em + 0.46125 * ( ( 100vw - 37.5em) / 18.75 ))/1.9);
  color: #1fb012;

}

.upload h3{

  font-size: calc( (1.44em + 0.46125 * ( ( 100vw - 37.5em) / 18.75 ))/1.7);
  color: #ad3821;

}

.frm{

  background-color: #363636;
  padding: 3em;
  border-radius: 4em;
   box-shadow:0px 0px 20px 5px rgba(0,0,0,0.5) inset;
   max-width: 600px;


}

.frm :is(input[type=text], input[type=password], input[type=email]){

  width: 35vw;
  max-width: 400px;
  border-style: groove;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 6px 10px 6px 10px;
  font-family: freight-neo-pro,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: calc( (1.44em + 0.46125 * ( ( 100vw - 37.5em) / 18.75 ))/1.9);
  color: #000000;

}

.frm label{

  padding: 6px 10px 6px 10px;
  font-family: freight-neo-pro,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: calc( (1.44em + 0.46125 * ( ( 100vw - 37.5em) / 18.75 ))/1.7);
  color: #ffffff;

}

/*
#image{

  width: 0.1px;
  	height: 0.1px;
  	opacity: 0;
  	overflow: hidden;
  	position: absolute;
  	z-index: -1;

}
*/
#image{
    font-size: calc( (1.44em + 0.46125 * ( ( 100vw - 37.5em) / 18.75 ))/2.1);
    font-family: freight-neo-pro,sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: rgb(255, 255, 255);
    border-radius: 2em;
    opacity: 0.6;
    outline: 0;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

#insert{
  outline: 0;
  background-color: #d3e1e6;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  font-family: freight-neo-pro,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 8px #798d94;
  border-radius: 2em;

}

#insert:active{

  background-color: rgb(20, 115, 18);
  box-shadow: 0 2px rgb(14, 82, 12);
  transform: translateY(4px);

}


.sub{

  display: flex;
  align-items: center;
  flex-direction: column;

}

.labl, .txt{

  display: flex;
  flex-direction: column;

}

.txt{



}

.hline{

 display: flex;


}

.hline label{

  margin-bottom: 3vh;

}

.hline input{

  margin-bottom: 3vh;

}

@media screen and (min-width: 1440px){

  .upload h1{

    font-size: 40px;

  }

  .upload h2, .frm :is(input[type=text], input[type=password], input[type=email]), #image{

    font-size:20px;

  }

  .upload h3,  .frm label{

    font-size: 25px;

  }

}

@media screen and (max-width: 472px){

  #insert{

    padding: 8px 14px;

    font-size: 12px;

    box-shadow: 0 4px rgb(107, 107, 107);

  }

}

@media (hover:hover) and (pointer: fine){

  #image:hover{

    opacity: 0.8;

  }
  /*
  #image + label:hover {
      background-color: white;
  }

  #image + label {
  	cursor: pointer; "hand" cursor
  }
  */


  #insert:hover{

    opacity: 0.8;

  }

}
