/*

Forms and button css for upload page

*/

.upload{

  height: 100vh;
  width: 100vw;
  /*background-color: blue;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.upload h1{

  padding: 0em 0em 0.8em 0em;
  font-family: freight-neo-pro,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: calc( (1.44em + 0.46125 * ( ( 100vw - 37.5em) / 18.75 ))/0.8);
  color: #ffffff;
  text-align: center;

}

.upload h2{

  padding: 0em 0em 0.8em 0em;
  font-family: freight-neo-pro,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: calc( (1.44em + 0.46125 * ( ( 100vw - 37.5em) / 18.75 ))/1.7);
  color: #1fb012;
  text-align: center;

}

.upload h3{

  padding: 0em 0em 0.8em 0em;
  font-family: freight-neo-pro,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: calc( (1.44em + 0.46125 * ( ( 100vw - 37.5em) / 18.75 ))/1.5);
  color: #ad3821;
  text-align: center;

}

.frm{

  background-color: rgb(46, 46, 45);
  padding: 4em 2em 3em 2em;
  border-radius: 5em;
   box-shadow:0px 0px 20px 5px rgba(0,0,0,0.5) inset;
   max-width: 800px;


}

.frm input[type=text], .frm input[type=password]{

  width: 40vw;
  max-width: 500px;
  border-style: groove;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 6px 10px 6px 10px;
  font-family: freight-neo-pro,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: calc( (1.44em + 0.46125 * ( ( 100vw - 37.5em) / 18.75 ))/1.9);
  color: #000000;

}

.frm label{

  padding: 6px 10px 6px 10px;
  font-family: freight-neo-pro,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: calc( (1.44em + 0.46125 * ( ( 100vw - 37.5em) / 18.75 ))/1.5);
  color: #ffffff;

}

/*
#image{

  width: 0.1px;
  	height: 0.1px;
  	opacity: 0;
  	overflow: hidden;
  	position: absolute;
  	z-index: -1;

}
*/
#image{
    font-size: calc( (1.44em + 0.46125 * ( ( 100vw - 37.5em) / 18.75 ))/1.9);
    font-family: freight-neo-pro,sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: rgb(255, 255, 255);
    color: black;
    display: inline-block;
    border-radius: 2em;
    opacity: 0.6;
    outline: 0;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

#image:hover{

  opacity: 0.8;

}
/*
#image + label:hover {
    background-color: white;
}

#image + label {
	cursor: pointer; "hand" cursor
}
*/

#insert{
  outline: 0;
  background-color: rgba(255, 255, 255);
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  font-family: freight-neo-pro,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 8px rgb(107, 107, 107);
  border-radius: 2em;

}

#insert:hover{

  opacity: 0.8;

}

#insert:active{

  background-color: rgb(20, 115, 18);
  box-shadow: 0 2px rgb(14, 82, 12);
  transform: translateY(4px);

}


.sub{

  display: flex;
  align-items: center;
  flex-direction: column;

}

.labl, .txt{

  display: flex;
  flex-direction: column;

}

.txt{

  padding: 0vw 5vw 0vw 3vw;

}

.hline{

 display: flex;


}

.hline label:first-of-type{

  padding-bottom: 3vh;

}

.hline input:first-of-type{

  margin-bottom: 3vh;

}
