
.grid{
  display: grid;
  position: relative;
  top: 13vh;
  justify-content: center;
  padding-bottom: 15px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 100px));
  grid-gap: 1rem;

}

.grid div{

  cursor: pointer;
  background-color: white;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  border: 2px white solid;

}

.grid div::before{

  content: "";
  padding-top: 20%;
  display: block;
  background: red;

}

.grid img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in;
  z-index: 3;
}

.grid h2{
  z-index: 2;
  position: absolute;
  top: 10px;
  font-family: freight-neo-pro,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: calc( (1.44em + 0.46125 * ( ( 100vw - 37.5em) / 18.75 ))/1.2);

}

.viewTitle{

  position: absolute;
  top: 10px;
  font-family: freight-neo-pro,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: calc( (1.44em + 0.46125 * ( ( 100vw - 37.5em) / 18.75 ))/0.8);
  color: white;
  text-decoration: underline white 3px;


}

.err{

  color: red;

}

#deleteBtn{

  z-index: 100;
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 1vw;
  right: 1vw;
  background-color: rgba(57, 59, 57,0.8);
  border-radius: 5em;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

#viewNext img, #viewPrevious img{

  width: 54px;
  height: 54px;
  transition: 0.3s ease-in-out;
  padding: 6px;
  cursor: pointer;
  border-radius: 5em;
  background-color: rgba(57, 59, 57,0.8);
}

#viewNext, #viewPrevious{

  position: fixed;

}

#viewNext{

  transform: scaleX(-1);
  left: 90vw;

}

#viewPrevious{

  right: 90vw;

}

@media screen and (min-width: 1624px){

  #viewNext img, #viewPrevious img{

    width: 98px;
    height: 98px;

  }

  .grid{

    grid-template-columns: repeat(5, minmax(300px, 300px));

  }

}

@media screen and (min-width: 1445px){

  .grid h2, .viewTitle{

    font-size: 40px;

  }

}

@media screen and (max-width: 790px){

  #viewNext img, #viewPrevious img{

    width: 48px;
    height: 48px;

  }

}

@media screen and (max-width: 645px){

  .grid h2, .viewTitle{

    font-size: 30px;

  }

  .viewTitle{

    top: 8vh;

  }
  #viewNext{

    left: 88vw;

  }

  #viewPrevious{

    right: 88vw;

  }



}

@media screen and (max-width: 570px){

  #viewNext img, #viewPrevious img{

    width: 34px;
    height: 34px;

  }

}

@media screen and (max-width: 472px){

  #deleteBtn{

    width: 40px;
    height: 40px;
    bottom: 5vw;
    right: 5vw;

  }

}

@media screen and (max-width: 420px){

  #viewNext{

    left: 85vw;

  }

  #viewPrevious{

    right: 85vw;

  }



}

@media screen and (max-width: 320px){

  .grid{

    padding-left: 5px;
    padding-right: 5px;


  }

}

@media (hover:hover) and (pointer:fine) {

  .grid img:hover{

    opacity: 0.4;

  }

  #deleteBtn:hover{

    transform: scale(1.1);

  }

  #viewNext img:hover{

    transform: scale(1.2);

  }

  #viewPrevious img:hover{

    transform: scale(1.2);

  }



}
